table.fb-grid-data-table
{
	border-collapse: collapse;
}

table.fb-grid-data-table > tr
{
	height: 1.2em;
}

table.fb-grid-data-table > tr > th,
table.fb-grid-data-table > tr > td
{
	border: 1px solid #ddd;
	padding: 0.1em 0.2em;
	white-space: pre-wrap;
}

table.fb-grid-data-table > tr > th
{
	background: #eee;
	text-align: left;
}

table.fb-grid-data-table > tr > td
{
	background: white;
}

.fb-grid
{
	position: relative;
}

.goog-slider-vertical
{
	width: 10px;
	background-color: ThreeDFace;
}

.goog-slider-thumb
{
	background-color: ThreeDShadow;
	height: 20px;
	position: relative;
}

.fb-nav-bar .goog-toolbar-button
{
	border: 2px outset white;
	/*
	height: 16px;
	width: 16px;
	background-image: url(icons.png);
	background-repeat: no-repeat;
	*/
	width: 1em;
	vertical-align: middle;
	text-align: center;
}

.goog-toolbar
{
	/* Client apps may override the URL at which they serve the image. */
	background: #fafafa url(../closure-library/closure/goog/images/toolbar-bg.png) repeat-x bottom left;
}

.fb-docedit-datagrid .goog-toolbar .fb-textfield
{
	font-size: 80%;
	border: 0px none;
	vertical-align: middle;
	width: 4em;
}
